/* You can add global styles to this file, and also import other style files */
:root {
  // spacing
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2rem;
  --spacing-xl: 2.5rem;
  --spacing-xxl: 3rem;
}