<form (ngSubmit)="handleSubmit()">
  <label for="username">Username</label>
  <input id="username" name="username" ngModel [formField]="username" />
  @if (username.touched() && username.hasError("required")) {
    <p role="alert" aria-label="username error">A username is required</p>
  }
  @if (usernameServerErrors$ | async; as serverErrors) {
    <p role="alert" aria-label="username error">{{ serverErrors }}</p>
  }
  <label for="email">Email</label>
  <input id="email" name="email" ngModel [formField]="email" />
  @if (!email.valid() && email.touched()) {
    <p role="alert" aria-label="email error">
      @if (email.hasError("required")) {
        An email is required
      } @else if (email.hasError("email")) {
        Please enter a valid email
      }
    </p>
  }
  @if (emailServerErrors$ | async; as serverErrors) {
    <p role="alert" aria-label="email error">{{ serverErrors }}</p>
  }
  <label for="password">Password</label>
  <input
    id="password"
    type="password"
    name="password"
    ngModel
    [formField]="password"
  />
  @if (password.touched() && password.hasError("required")) {
    <p role="alert" aria-label="password error">A password is required</p>
  }
  <button type="submit" [disabled]="(registerRequest$ | async)?.isLoading">
    Sign Up
  </button>
</form>
