form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);

  .field {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  p-button {
    margin-inline-start: auto;
  }
}